@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "~react-image-gallery/styles/css/image-gallery.css";
// @import '~formiojs/dist/formio.full.css';
.cursor-pointer {
    cursor: pointer;
}

.single__account .input__box span {
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #333;
}

.single__account .input__box input {
    width: 100%;
    height: 50px;
    margin-bottom: 21px;
    padding: 0 15px;
    border: 1px solid #bebebe;
    outline: none;
}

.modal-90w {
    width: 90vw;
    max-width: 90vw;
}

.homepage-offices-scroll::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.homepage-offices-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.form-embed-scroll::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.form-embed-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.homepage-email-button {
    display: inline-block;
    vertical-align: middle;
    background-color: #feec66;
    color: #23242b;
    // padding-top: 10px;
    // padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 30px;
    transition: all 500ms ease;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2em;
}

// homepage-email-input::placeholder {
//     color: white;
// }
// homepage-email-input:-ms-input-placeholder {
//     /* Internet Explorer 10-11 */
//     color: white;
// }
// homepage-email-input::-ms-input-placeholder {
//     /* Microsoft Edge */
//     color: white;
// }
homepage-email-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: yellow;
}

homepage-email-input::-moz-placeholder {
    /* Firefox 19+ */
    color: yellow;
}

homepage-email-input:-ms-input-placeholder {
    /* IE 10+ */
    color: yellow;
}

homepage-email-input:-moz-placeholder {
    /* Firefox 18- */
    color: yellow;
}